<app-page-banner></app-page-banner>
<section class="faq white-bg page-section-ptb">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-md-12">
        <div class="section-title text-center">
          <h6>Have a question?</h6>
          <h2 class="title-effect">Frequently Asked Questions</h2>
          <p>why the sky's the limit when using Webster.</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12 col-md-12">
        <div class="accordion shadow">
          <div class="acd-group acd-active">
            <a href="#" class="acd-heading">01. Morbi accumsan ipsum velit?</a>
            <div class="acd-des">
              <h5>Amet of lorem ipsum dolor sit lorem ipsum?</h5>
              <p>Proin gravida lorem ipsum dolor sit amet of Lorem Ipsum nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non  mauris vitae erat </p>
              <ul class="list list-unstyled list-mark">
                <li> Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum</li>
                <li> Auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. </li>
                <li> Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit.</li>
                <li> Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non  mauris vitae erat consequat auctor eu in elit Class.</li>
              </ul>
            </div>
          </div>
          <div class="acd-group">
            <a href="#" class="acd-heading">02. Nam nec tellus a odio tincidunt?</a>
            <div class="acd-des"><h5>Amet of lorem ipsum dolor sit lorem ipsum?</h5>
              <p>Proin gravida lorem ipsum dolor sit amet of Lorem Ipsum nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non  mauris vitae erat </p>
              <ul class="list list-unstyled list-mark">
                <li> Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum</li>
                <li> Auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. </li>
                <li> Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit.</li>
                <li> Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non  mauris vitae erat consequat auctor eu in elit Class.</li>
              </ul></div>
          </div>
          <div class="acd-group">
            <a href="#" class="acd-heading">03. Aenean sollicitudin, lorem quis?</a>
            <div class="acd-des"><h5>Amet of lorem ipsum dolor sit lorem ipsum?</h5>
              <p>Proin gravida lorem ipsum dolor sit amet of Lorem Ipsum nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non  mauris vitae erat </p>
              <ul class="list list-unstyled list-mark">
                <li> Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum</li>
                <li> Auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. </li>
                <li> Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit.</li>
                <li> Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non  mauris vitae erat consequat auctor eu in elit Class.</li>
              </ul></div>
          </div>
          <div class="acd-group">
            <a href="#" class="acd-heading">04. Nibh vulputate cursus a sit amet?</a>
            <div class="acd-des"><h5>Amet of lorem ipsum dolor sit lorem ipsum?</h5>
              <p>Proin gravida lorem ipsum dolor sit amet of Lorem Ipsum nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non  mauris vitae erat </p>
              <ul class="list list-unstyled list-mark">
                <li> Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum</li>
                <li> Auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. </li>
                <li> Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit.</li>
                <li> Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non  mauris vitae erat consequat auctor eu in elit Class.</li>
              </ul></div>
          </div>
          <div class="acd-group">
            <a href="#" class="acd-heading">05. Aenean sollicitudin, lorem quis?</a>
            <div class="acd-des"><h5>Amet of lorem ipsum dolor sit lorem ipsum?</h5>
              <p>Proin gravida lorem ipsum dolor sit amet of Lorem Ipsum nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non  mauris vitae erat </p>
              <ul class="list list-unstyled list-mark">
                <li> Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum</li>
                <li> Auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. </li>
                <li> Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit.</li>
                <li> Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non  mauris vitae erat consequat auctor eu in elit Class.</li>
              </ul>
            </div>
          </div>
          <div class="acd-group">
            <a href="#" class="acd-heading">06. Duis sed odio sit amet nibh?</a>
            <div class="acd-des"><h5>Amet of lorem ipsum dolor sit lorem ipsum?</h5>
              <p>Proin gravida lorem ipsum dolor sit amet of Lorem Ipsum nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non  mauris vitae erat </p>
              <ul class="list list-unstyled list-mark">
                <li> Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum</li>
                <li> Auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. </li>
                <li> Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit.</li>
                <li> Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non  mauris vitae erat consequat auctor eu in elit Class.</li>
              </ul></div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12 text-center mt-40">
        <h6> If you do not find the answer to your question listed within our FAQ's, you can always contact us directly at <a class="theme-color" href="#"> letstalk@webster.com</a> </h6>
      </div>
    </div>
  </div>
</section>
