<app-page-banner></app-page-banner>
<section class="faq white-bg page-section-ptb">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-md-12">
        <div class="section-title text-center">
          <h6>Have a question?</h6>
          <h2 class="title-effect">Frequently Asked Questions</h2>
          <p>Please search for your Question</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12 col-md-12">
        <div class="accordion shadow">
          <div class="acd-group acd-active">
            <a routerLink="#" class="acd-heading">01. Why we need to choose this program for our students?</a>
            <div class="acd-des">
              <ul class="list list-unstyled list-mark">
                <li>To introduce a technological world to your students</li>
                <li>To develop their interpersonal &amp; communication skills.</li>
                <li>To give them a national platform for competition.</li>
                <li>To provide them a carrier guidance.</li>
                <li>Your institute will be recognized as the “Zonal Centre” at pan India level.</li>
              </ul>
            </div>
          </div>
          <div class="acd-group">
            <a routerLink="#" class="acd-heading">02. How our school or college be Zonal centre for Techradiance’19?</a>
            <div class="acd-des">
              <p>School or college need to send us the consent letter through mail with the institute letter
                head.</p>
              </div>
          </div>
          <div class="acd-group">
            <a routerLink="#" class="acd-heading">03. What is the eligibility criteria for students?</a>
            <div class="acd-des">
              <p>School: Students from class 6 th to 12 th can participate in the event depending upon topic.
                College: Any student from 1 st year to final year can be a part of the event.
                Outside: Any enthusiastic person or teacher can be a part of the Event.</p></div>
          </div>
          <div class="acd-group">
            <a routerLink="#" class="acd-heading">04. What would be the probable dates or month for the Zonal Round?</a>
            <div class="acd-des">
              <p>School or college need to decide the dates according to their academic calendar.</p>
              </div>
          </div>
          <div class="acd-group">
            <a routerLink="#" class="acd-heading">05. How many topics we’ll be able to select?</a>
            <div class="acd-des">
              <p>Your college or school will be the Zonal centre. So as a Zonal centre you can select any topic.
                Every topic should have minimum count strength.</p>
            </div>
          </div>
          <div class="acd-group">
            <a routerLink="#" class="acd-heading">06. What do you mean by Zonal Centre?</a>
            <div class="acd-des">
              <p>Zonal Centre is a place where students will attend the Techradiance event at the Zonal level. </p>
              </div>
          </div>
          <div class="acd-group">
            <a routerLink="#" class="acd-heading">07. What are the roles &amp; responsibility as a Zonal Centre?</a>
            <div class="acd-des">
              <ul class="list list-unstyled list-mark">
                <li>Seminar hall/classroom having enough capacity to conduct hands-on-session for all
                participants.
                <li>A Good quality public addressing system ideally two cordless Mic. will be required.</li>
                <li>Projector/ Screen along with black/white board for teaching and presentation
                  purpose.</li>
                <li>Hospitality of our Technical Trainer for respective duration.</li>
                <li>Pick & drop facility from the nearest bus stop / Railway station / Airport.</li>
              </ul></div>
          </div>
          <div class="acd-group">
            <a routerLink="#" class="acd-heading">08. What about the maximum count for one workshop?</a>
            <div class="acd-des">
              <p>There is no limit about the maximum count. It will be a great event at your centre if
                participant will be more. Your start rating will increase towards Techradiance event. </p>
            </div>
          </div>
          <div class="acd-group">
            <a routerLink="#" class="acd-heading">09. How you are going to select the students for finale?</a>
            <div class="acd-des">
              <p>Resource person will select the students on the behalf of the competition that will held after
                workshop. Competition will be related to the workshop content only. </p>
            </div>
          </div>
          <div class="acd-group">
            <a routerLink="#" class="acd-heading">10. How many students you are going to select for finale?</a>
            <div class="acd-des">
              <p>Techradiances’ team will select 30 % of the total participant. </p>
            </div>
          </div>
          <div class="acd-group">
            <a routerLink="#" class="acd-heading">11. Is there any possibilities to have a special topic in our college/school?</a>
            <div class="acd-des">
              <p>Yes, you can conduct the topic apart from the list. School or college need to provide us the
                topic name or idea of the workshop. </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12 text-center mt-40">
        <h6> If you do not find the answer to your question listed within our FAQ's, you can always contact us directly at <a class="theme-color" routerLink="#"> gethelp@harbourtech.co.in</a> </h6>
      </div>
    </div>
  </div>
</section>
