<app-page-banner></app-page-banner>
<!--Workshops-->

<section class="page-section-ptb coming-soon">

  <div class="container text-right">
    <div class="button" style="cursor: pointer" routerLink="/view/payment" > Register Now <i class="fa fa-arrow-circle-o-right"></i></div>
    <div class="row">
      <div class="col-md-12">
        <div class="section-title text-center">
          <h1 class="theme-color">Introduction to Final Round</h1>

          <p style="font-size: 15px;text-align: justify;">

            We invite all the students who have participated in TECHRADIANCE 2019 Zonal
            Rounds held at various Institutions all over India. All the participants who hold a
            position (1st, 2nd, 3rd) or hold a merit certificate are eligible to participate in the
            TECHRADIANCE 2019 Finals at IIT BOMBAY.
          </p>
          <br>
          <h3 class="theme-color text-left">important Notes</h3>

          <p style="font-size: 15px;text-align: left;">1. All the teams who have received ‘CERTIFICATE OF MERIT’ including 1st, 2nd and 3rd are eligible for final round of TECHRADIANCE 2019 at TECHFEST IIT BOMBAY</p>
          <p style="font-size: 15px;text-align: left;">2. Registration Charges for the Grand Finale for each Team will be Rs.350/- per member</p>
          <p style="font-size: 15px;text-align: left;">3 . Registration charge for Open Round (Winter Training/Summer Training Wild Card Entry) is Rs 500/- Per Member</p>
          <p style="font-size: 15px;text-align: left;"> We invite all the participants to the Final Round of TECHRADIANCE 2019, which is going to be held at TECHFEST IIT BOMBAY
          <p style="font-size: 15px;text-align: left;">Invitations are open to all students who hold Winning positions and have participated in various Zonal Rounds conducted all over India.

          <br>
          <br>
          <h3 class="theme-color text-left">Registration Process</h3>

          <p style="font-size: 15px;text-align: left;">• All the registration for the final competition are open for Online Registration , Online Registration charges for the Final Round Rs 350/- per member</p>
          <br>
          <br>
          <h3 class="theme-color text-left">Eligibility Criteria</h3>
          <p style="font-size: 15px;text-align: left;">All the Participants who have achieved 1st, 2nd, 3rd, 4th, Winter/Summer Training and have merit Certificate in the Zonal Rounds of Techradiance championships held all over India are eligible to register for the Closed Rounds of the TECHRADIANCE Final Round.</p>
          <p style="font-size: 15px;text-align: left;">All the Students who participating in the Zonal Rounds (have participation Certificate) are eligible to participate in the open rounds of the completion.</p>
          <br>
          <br>
          <div class="divider dashed mt-40 mb-40"></div>
          <h2 class="theme-color ">Certification Policy</h2>
          <br>
          <br>
          <h3 class="theme-color text-left">Certificate of Excellence</h3>
          <br>
          <p style="font-size: 15px;text-align: left;">• After Completion of the Grand Finale of TECHRADIANCE Championship, 3 Teams will be selected who will be awarded with “Certificate of Excellence” ‘Trophies” and “Medals” which will be announced at the commencement of the event.</p>

          <br>
          <br>
          <h3 class="theme-color text-left">Certificate of honor</h3>
          <br>
          <p style="font-size: 15px;text-align: left;">• All the participants of TECHRADIANCE Championship will be awarded with “Certificate of Honor”.</p>

          <br>
          <br>
          <div class="divider dashed mt-40 mb-40"></div>
          <h2 class="theme-color ">Venues</h2>
          <br>
          <br>
          <h3 class="theme-color text-left">Zonal Rounds</h3>
          <br>
          <p style="font-size: 15px;text-align: left;">Zonal Rounds of TECHRADIANCE Championship are held at various Institution all over India, they were selected as officially as Zonal centre where first 2 rounds of the TECHRADIANCE-19 were conducted, from where 3-4 teams are selected to participate at the finale and represent their zonal centre </p>

          <br>
          <br>
          <h3 class="theme-color text-left">National Level</h3>
          <br>
          <p style="font-size: 15px;text-align: left;">TECHRADIANCE (National Level Championship) will be held at TECHFEST IIT BOMBAY Campus on 13th April to 14th April 2019.</p>


          <br>
          <br>
          <div class="divider dashed mt-40 mb-40"></div>
          <h2 class="theme-color ">Terms & Conditions</h2>
          <br>
          <br>
          <p style="font-size: 15px;text-align: left;">• All the Participants who have achieved 1st , 2nd , 3rd position and have merit Certificate in the Zonal Rounds of TECHRADIANCE’19 National championships held all over India are eligible to register for the Closed Rounds of the TECHRADIANCE Final Round</p>
          <p style="font-size: 15px;text-align: left;">• All the Participant who participated in the Zonal Rounds (have participation Certificate) are eligible to participate in the open rounds of the completion.</p>
          <p style="font-size: 15px;text-align: left;">• All the Interested and keen participant can also register for the open round.</p>
          <p style="font-size: 15px;text-align: left;">• Participating team should have their own Robotic Kit, (provided during the workshop) or you can purchase a kit (if you want to purchase the kit then please mail us, so that we’ll be able to guide you.)</p>
          <p style="font-size: 15px;text-align: left;">• Online Registration fees for the TECHRADIANCE Championship are strictly Non- Refundable.</p>
          <p style="font-size: 15px;text-align: left;">• All the Students must have their valid college ids or any other Identity Proof</p>
          <p style="font-size: 15px;text-align: left;">• For Entry in Final Rounds, Merit certificates are required for registrations. Team & who are not able to produce Merit Certificates at the time of registration will be not allowed to participate in the Finals and can register for Open Round</p>
          <p style="font-size: 15px;text-align: left;">• Students should have at least 1 laptop in a team with enough battery backup.</p>
          <p style="font-size: 15px;text-align: left;">• Students have to carry 9volts Battery with them, No adaptor is allowed</p>

          <br>
          <br>
          <div class="divider dashed mt-40 mb-40"></div>
          <h2 class="theme-color ">Online Registration</h2>
          <br>
          <h3 class="theme-color text-left">Benefits of Online Registration</h3>
          <br>
          <p style="font-size: 15px;text-align: left;">We are making these sudden changes in the registration format i.e. shifting the on the spot registrations for the finals to Online registrations for the benefits of the participants only,</p>
          <br>
          <p style="font-size: 15px;text-align: left;">1. The first benefit for the participants is that even if they arrive late, or if you have missed the registration day, due to any unfortunate reason by making the online registration for it before hand your team will be secured to participate in the finals.
          <br>
            As their team will be allotted with a team number which will secure their entry in the championship even if they are arriving late, we will be able to plan and schedule the event according.
          </p>
          <br>
          <p style="font-size: 15px;text-align: left;">
            2. If due to any unfortunate reason you are not able to report at venue i.e. for the Techradiance championship but you have made the online registration then we will be dispatch your ‘Certificate of Honor’ on your address, After the approval of the authorities of Techradiance who will do a internal verification and to check the authenticity of your reason.
            <br>
             For Example if you have any important examination, coinciding the event dates then you can register for the event online and we will dispatch your participation certificate to you.
          </p>
          <br>
          <p style="font-size: 15px;text-align: left;">3. Online Registration process will minimize the chaos at the venue and we will be able to conduct this event more efficiently and smoothly, as most of the formalities will be already completed beforehand. Participants will be able to enjoy the event better with no dead line of registration in a day.</p>
          <p style="font-size: 15px;text-align: left;">4. By making the online registration you will be getting constant reminders in change or any new updates of the Techradiance’19 Championship.
            Note* Online Registration fees for the Techradiance Championship are strictly Non- Refundable.
          </p>
          <br>
          <h3 class="theme-color text-left">How it works</h3>
          <br>




          <p style="font-size: 15px;text-align: left;">Follow the Given procedure to Register for the Techradiance Championship:-</p>
          <h3 style="font-size: 15px;text-align: left;">1. You will have to register online on our Website.</h3>
          <p style="font-size: 15px;text-align: left;">a. Follow the link given below at bottom.</p>
          <p style="font-size: 15px;text-align: left;">b. Fill in your required details</p>
          <p style="font-size: 15px;text-align: left;">c. After Completion of your registration you will be redirected to “Registration Successful “Page.</p>
          <p style="font-size: 15px;text-align: left;">d. You will receive a Message and Email regarding successful registration; it will provide you a Registration Number which will be required for the payment purpose only.</p>
          <h3 style="font-size: 15px;text-align: left;">2. After completing the Registration process next step is to make the payment.</h3>
          <p style="font-size: 15px;text-align: left;">a. After completion of the registration process, you will be directed to “Successful Payment” Page.</p>
          <p style="font-size: 15px;text-align: left;">b. You will receive a Message and Email regarding Successful Payment; it will provide you a TEAM NUMBER, which will be required at the Time of the competition.</p>
          <p style="font-size: 15px;text-align: left;">It is advised to report at the competition with your TEAM NUMBER with other documents mentioned below.</p>
          <p style="font-size: 15px;text-align: left;">The TEAM NUMBER does not specify your turn to participate at the competition; Team Announcements are not necessarily made accordingly.</p>
          <p style="font-size: 15px;text-align: left;">So if your TEAM NUMBER is at the beginning of the series does not imply that you will be the first performers.</p>
          <h3 style="font-size: 15px;text-align: left;">Documents for Registration:-</h3>
          <p style="font-size: 15px;text-align: left;">• For Entry in Final Rounds Merit certificates are required for registrations. Team who are not able to produce Merit Certificates at the time of registration will not be allowed to participate in the Finals but they can participate in the Open Round.</p>
          <p style="font-size: 15px;text-align: left;">• All the Students must have their valid college ids or any other Identity Proof.</p>
          <p style="font-size: 15px;text-align: left;">• Every team should have their own Robotic kit & Laptop to participate in the final rounds, which are purchased by us as per pre-information or you can bring your own kit also.</p>



        </div>
      </div>
    </div>
  </div>
</section>


