<app-page-banner></app-page-banner>
<section class="custom-padding">
  <div class="container">
    <div class="row mt-60">
      <div class="section-title text-center">
        <h3>Techradiance'18 with Aakaar IIT Bombay</h3>
      </div>
      <div *ngFor="let image of imagesakaar " class="col-md-3" style="padding: 10px!important">
      <img id="myImg" src="{{image.src}}"  style="width:100%;" (click)="onClick(image.src)">
      </div>
      <div class="section-title text-center">
        <h3>Techradianc'18 IIT Kharagpur</h3>
      </div>
      <div *ngFor="let image of imageskharag " class="col-md-3" style="padding: 10px!important">
        <img id="myImg" src="{{image.src}}"  style="width:100%;" (click)="onClick(image.src)">
      </div>

      <!-- The Modal -->
      <div id="myModal" class="modal">
        <span (click)="onClose()" class="close">&times;</span>
        <img class="modal-content" id="img01">
        <div id="caption"></div>
      </div>
    </div>
  </div></section>
