<app-page-banner></app-page-banner>
<section class="page-section-ptb coming-soon">
  <div class="container">
    <div class="row page-section-ptb">
      <div class="col-md-offset-2 col-md-8 page-section-pt">
        <div class="section-title text-center page-section-pt">
          <h1 class="theme-color">We are <span class="theme-color"> coming very soon! </span></h1>
          <p class="theme-color">Our photographers are doing their best to collect memories and it won't take so long. Don't forget to check out our Social updates.</p>
        </div>
      </div>
    </div>
  </div>
</section>
