<app-page-banner></app-page-banner>
<section class="page-section-ptb coming-soon">
  <div class="container">
    <div class="row">
      <div class="col-md-offset-2 col-md-8">
        <div class="section-title text-center">
          <h1 class="theme-color">We are <span class="theme-color"> coming very soon! </span></h1>
          <p class="theme-color">We are currently working on a website and won't take long. Don't forget to check out our Social updates.</p>
        </div>
      </div>
    </div>
  </div>
</section>
