<footer class="footer footer-topbar black-bg">
  <div class="copyright">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-sm-6">
          <img class="img-responsive"  id="logo-footer"  src="../../assets/images/logo.png" alt="">
          <div class="footer-text">
            <p> &copy;Copyright <span id="copyright"> <script>document.getElementById('copyright').appendChild(document.createTextNode(new Date().getFullYear()))</script></span> <a href="#"> Harbour Technologies </a> All Rights Reserved </p>
          </div>
        </div>
        <div class="col-lg-6 col-sm-6">
          <div class="footer-social">
            <ul class="list-inline text-right">
              <li><a href="#">Terms & Conditions </a> &nbsp;&nbsp;&nbsp;|</li>
              <li><a href="#">API Use Policy </a> &nbsp;&nbsp;&nbsp;|</li>
              <li><a href="#">Privacy Policy </a> &nbsp;&nbsp;&nbsp;|</li>
              <li><a href="#">Cookies </a></li>
            </ul>
          </div>
          <div class="social-icons color-hover pull-right mt-20">
            <ul class="clearfix">
              <li class="social-facebook"><a href="#"><i class="fa fa-facebook"></i></a></li>
              <li class="social-twitter"><a href="#"><i class="fa fa-twitter"></i></a></li>
              <li class="social-dribbble"><a href="#"><i class="fa fa-dribbble"></i> </a></li>
              <li class="social-linkedin"><a href="#"><i class="fa fa-linkedin"></i> </a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
