<footer class="footer transparent footer-topbar page-section-pt bg-overlay-black-60 parallax" data-jarallax='{"speed": 0.6}' style="background-image: url(../../assets/images/footerbg.png);">
  <div class="container">
    <div class="row mb-60">
      <div class="col-lg-3 col-md-3 col-sm-2">
        <img class="img-responsive"  id="logo-footer"  src="../../assets/images/logo.png" alt="">
      </div>
      <div class="col-lg-9 col-md-9 col-sm-9">
        <div class="social text-right">
          <ul>
            <li>
              <a href="#"> <i class="fa fa-facebook"></i> </a>
            </li>
            <li>
              <a href="#"> <i class="fa fa-twitter"></i> </a>
            </li>

            <li>
              <a href="#"> <i class="fa fa-dribbble"></i> </a>
            </li>

            <li>
              <a href="#"> <i class="fa fa-linkedin"></i> </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-5 col-md-5">
        <div class="about-content">
          <h6 class="mb-20">About us</h6>
          <p>Harbour Technologies is a company by Engineers and a leading provider of end to end workshop and education solutions, covering various emerging technologies in India. We are trusted service brands in the field of latest technologies of Electronics/Electrical , CS/ IT, Mechanical , Mechatronics and other Engineering branches.</p>
        </div>
      </div>
      <div class="col-lg-7 col-md-7">
        <!--<h6 class="mb-20">Useful Links</h6>-->
        <div class="usefull-link">
          <div class="row">
            <div class="col-lg-4 col-sm-4">
              <ul>
                <li ><a href="#" style="color: #90ff01">Site Map</a></li>
                <li class="active"><a href="/home">Home</a></li>
                <li routerLinkActive="active"><a routerLink="/trainings" >Training </a></li>
                <li routerLinkActive="active"><a routerLink="/gallery" >Gallery </a></li>
                <li routerLinkActive="active"><a routerLink="/faqs" >FAQs </a></li>
                <li routerLinkActive="active"><a routerLink="/contact-us" >Contact Us </a></li>
              </ul>
            </div>
            <div class="col-lg-4 col-sm-4">
              <ul>
                <li ><a href="#" style="color: #90ff01">Workshops</a></li>
                <li><a routerLink="/workshops/cs">Computer Science</a></li>
                <li><a routerLink="/workshops/cs">Information Technology</a></li>
                <li><a routerLink="/workshops/ece">Electrical & Electronics</a></li>
                <li><a routerLink="/workshops/civil">Civil</a></li>
                <li><a routerLink="/workshops/me">Mechanical</a></li>
                <li><a routerLink="/workshops/robotics">Robotics</a></li>
              </ul>
            </div>
            <div class="col-lg-4 col-sm-4">
              <ul>
                <li ><a href="#" style="color: #90ff01">Trainings</a></li>
                <li><a href="#">CS</a></li>
                <li><a href="#">IT</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="divider light mt-50 mb-0"></div>


  <div class="copyright">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-sm-6">
          <ul class="list-inline text-left">
            <li><a href="#">Terms & Conditions </a> &nbsp;&nbsp;&nbsp;|</li>
            <li><a href="#">API Use Policy </a> &nbsp;&nbsp;&nbsp;|</li>
            <li><a href="#">Privacy Policy </a>  </li>
          </ul>
        </div>
        <div class="col-lg-6 col-sm-6">
          <div class="text-right">
            <p> &copy;Copyright <span id="copyright"> <script>document.getElementById('copyright').appendChild(document.createTextNode(new Date().getFullYear()))</script></span> <a href="#"> Harbour Tech </a> All Rights Reserved </p>
          </div>
        </div>
      </div>
    </div>
  </div>

</footer>
