<section class="no-bg">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
          <div class="item col-md-4">
            <div class="feature-box text-center">
              <div class="feature-box-content">
                <img class="img-responsive center-block" src="demo-one-page/plumber/images/icon/01.png" alt="">
                <h4 style="color:white">Ht -Techfest IIT Bombay</h4>
                <p style="color:white">Techfest is IIT Bombay&#39;s annual science and technology festival.</p>
              </div>
              <a style="color:white" class="text-uppercase" routerLink="/details/techfest">Read more</a>
              <div class="feature-box-img" style="background-image: url('../../assets/images/bgbanner.jpg');"></div>
            </div>
          </div>
          <div class="item col-md-4">
            <div class="feature-box text-center">
              <div class="feature-box-content">
                <img class="img-responsive center-block" src="demo-one-page/plumber/images/icon/02.png" alt="">
                <h4 style="color:white">Online Mock Tests</h4>
                <p style="color:white">Explore our website for unlimited paid and free series of comptetive exams.</p>
              </div>
              <a style="color:white" class="text-uppercase" routerLink="/details/exam">Read more</a>
              <div class="feature-box-img" style="background-image: url('../../assets/images/bgbanner.jpg');"></div>
            </div>
          </div>
          <div class="item col-md-4">
            <div class="feature-box text-center">
              <div class="feature-box-content">
                <img class="img-responsive center-block" src="demo-one-page/plumber/images/icon/03.png" alt="">
                <h4 style="color:white">TRAININGS</h4>
                <p style="color:white">Allow us to explain why online learning is more awesome than you think.</p>
              </div>
              <a style="color:white" class="text-uppercase" routerLink="/details/trainings">Read more</a>
              <div class="feature-box-img" style="background-image: url('../../assets/images/bgbanner.jpg');"></div>
            </div>
          </div>
      </div>
    </div>
  </div>
</section>

