<section class="slider-parallax product-banner parallax bg-overlay-black-60" style="background: url(../assets/images/mybg.jpg);">
  <div class="slider-content-middle">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 col-md-12">
          <app-slider></app-slider>
        </div>
      </div>
    </div>
    <header id="header" class="header transparent" style="bottom: -180px;">
      <div class="menu">
        <!-- menu start -->
        <nav id="menu" class="mega-menu">
          <!-- menu list items container -->
          <section class="menu-list-items">
            <div class="container">
              <div class="row">
                <div class="col-lg-12 col-md-12">
                  <!-- menu logo -->
                  <ul class="menu-logo">
                    <li>
                      <a style="font-size: 2rem">Our Associates </a>
                    </li>
                  </ul>
                  <div class="menu-bar">
                    <ul class="menu-links ">
                  <li routerLinkActive="active"><img class="associate-logo" src="../assets/images/ecell.jpg" alt="logo"></li>
                  <li routerLinkActive="active"><img class="associate-logo" src="../assets/images/akaar.jpg" alt="logo"></li>
                  <li routerLinkActive="active"><img class="associate-logo" src="../assets/images/radaince.jpg" alt="logo"></li>
                  <li routerLinkActive="active"><img class="associate-logo" src="../assets/images/techfest.png" alt="logo"></li>
                  <!--<li routerLinkActive="active"><img  src="../../assets/images/logo.png" alt="logo"></li>-->
                  <!--<li routerLinkActive="active"><img  src="../../assets/images/logo.png" alt="logo"></li>-->
                  <!--<li routerLinkActive="active"><img  src="../../assets/images/logo.png" alt="logo"></li>-->
                    </ul>
                  </div>
                  <!-- menu links -->
                </div>
              </div>
            </div>
          </section>
        </nav>
        <!-- menu end -->
      </div>
    </header>
  </div>
</section>
<section class="our-service page-section-ptb">
  <div class="objects-left">
    <img class="objects-1 img-responsive wow fadeInLeft" data-wow-delay="0.2s" data-wow-duration="2.0s" src="../assets/images/01.png" alt="">
    <img class="objects-2 img-responsive wow fadeInLeft" data-wow-delay="0.4s" data-wow-duration="2.0s" src="../assets/images/02.png" alt="">
    <img class="objects-3 img-responsive wow fadeInUp" data-wow-delay="0.6s" data-wow-duration="2.0s" src="../assets/images/03.png" alt="">
  </div>
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-md-12">
        <div class="section-title text-center">
          <h6>Our Services</h6>
          <h2 class="title-effect">We provide the best service</h2>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <div class="row">
          <div class="col-lg-6 col-md-6 col-sm-6">
            <div class="feature-text left-icon mb-40">
              <div class="feature-icon">
                <span class="ti-desktop theme-color" aria-hidden="true"></span>
              </div>
              <div class="feature-info">
                <h5>Technical Trainings</h5>
                <p>Responsive Lorem Ipsum used since the 1500s is reproduced below for those.. </p>
                <a class="button icon-color" href="#">Read more <i class="fa fa-angle-right"></i></a>
              </div>
            </div>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-6">
            <div class="feature-text left-icon mb-40">
              <div class="feature-icon">
                <span class="ti-headphone theme-color" aria-hidden="true"></span>
              </div>
              <div class="feature-info">
                <h5>24/7 Customer support</h5>
                <p>Great support quibusdam reproduced enim <span class="theme-color" data-toggle="tooltip" data-placement="top" title="" data-original-title="Tooltip on top">expedita</span> sed quia nesciunt incidunt..</p>
                <a class="button icon-color" href="#">Read more <i class="fa fa-angle-right"></i></a>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-6 col-md-6 col-sm-6">
            <div class="feature-text left-icon mb-40">
              <div class="feature-icon">
                <span class="ti-panel theme-color" aria-hidden="true"></span>
              </div>
              <div class="feature-info">
                <h5>Workshops</h5>
                <p>Fully customizable template enim expedita sed quia nesciunt incidunt accusamus..</p>
                <a class="button icon-color" href="#">Read more <i class="fa fa-angle-right"></i></a>
              </div>
            </div>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-6">
            <div class="feature-text left-icon mb-40">
              <div class="feature-icon">
                <span class="ti-shield theme-color" aria-hidden="true"></span>
              </div>
              <div class="feature-info">
                <h5>Web Development</h5>
                <p>Fast as light Ipsum used since the 1500s is reproduced below for those Sections.. </p>
                <a class="button icon-color" href="#">Read more <i class="fa fa-angle-right"></i></a>
              </div>
            </div>
          </div>
        </div>
        <div class="row ">
          <div class="col-lg-6 col-md-6 col-sm-6">
            <div class="feature-text left-icon xs-mb-40">
              <div class="feature-icon">
                <span class="ti-split-v theme-color" aria-hidden="true"></span>
              </div>
              <div class="feature-info">
                <h5>Projects</h5>
                <p>Fully customizable template enim expedita sed quia nesciunt incidunt accusamus..</p>
                <a class="button icon-color" href="#">Read more <i class="fa fa-angle-right"></i></a>
              </div>
            </div>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-6">
            <div class="feature-text left-icon">
              <div class="feature-icon">
                <span class="ti-image theme-color" aria-hidden="true"></span>
              </div>
              <div class="feature-info">
                <h5>IT Support</h5>
                <p>Fast as light Ipsum used since the 1500s is reproduced below for those Sections.. </p>
                <a class="button icon-color" href="#">Read more <i class="fa fa-angle-right"></i></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="objects-right">
    <img class="objects-4 img-responsive wow fadeInRight" data-wow-delay="0.2s" data-wow-duration="2.0s" src="../assets/images/objects/04.png" alt="">
    <img class="objects-5 img-responsive wow fadeInRight" data-wow-delay="0.4s" data-wow-duration="2.0s" src="../assets/images/objects/05.png" alt="">
  </div>
</section>
<!--=================================
our-service -->
<section class="action-box pattern-2 full-width" style="background: url(../assets/images/pattern/pattern-bg.png) repeat;">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-md-12" style="padding-bottom: 40px">
        <div class="text-center">
          <h2 class="title-effect">Browse workshops by category</h2>
        </div>
        <div class="col-md-2" *ngFor="let workshop of workshops">
          <div class="blog-card">
            <div class="meta">
              <div class="photo" style="background-image: url(../assets/images/bgd.jpeg)"></div>
              <ul class="details">
                <li class="author"><a href="#">Browse</a></li>
              </ul>
            </div>
            <div class="description" style="padding-top: 39%;">
              <h1>{{workshop.cat}}</h1>
              <p class="read-more">
                <a routerLink="{{workshop.link}}">Go</a>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


<!--=================================
things differently -->

<section class="page-section-ptb">
  <div class="container">
    <div class="row">
      <div class="col-lg-5 col-md-5">
        <div class="section-title mb-20">
          <h6>Our Mission?</h6>
          <h2>We do things differently</h2>
          <p>We are dedicated to providing you with the best experience possible.</p>
        </div>
        <p>Harbour Technologies provides trait education and training that permit a distinct learners community to accomplish their educational objectives. Harbour Technologies team work to deliver the best technology training and facilities. The fascinating mentor-based programs organized by Harbour Technologies aims to build science, engineering and technology skills among students and inspire them creating innovative ideas..
          To commence collative projects which endeavor contingency for long-term cooperation with academe and organizations.</p>
      </div>
      <div class="col-lg-6 col-md-6 col-md-offset-1 sm-mt-40">
        <div class="row">
          <div class="col-lg-6 col-md-6 col-sm-6 mb-40">
            <div class="feature-text left-icon mb-30">
              <div class="feature-icon">
                <span class="ti-menu theme-color" aria-hidden="true"></span>
              </div>
              <div class="feature-info">
                <h5 class="text-back pt-10">Helping Students</h5>
              </div>
            </div>
            <p>Providing an equal footing for all students is our mission.  we're  providing workshops ,
              trainings to schools/Institutes  in low income areas. </p>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-6 mb-40">
            <div class="feature-text left-icon mb-30">
              <div class="feature-icon">
                <span class="ti-settings theme-color" aria-hidden="true"></span>
              </div>
              <div class="feature-info">
                <h5 class="text-back pt-10">Time Flexibility</h5>
              </div>
            </div>
            <p>A flexible schedule is one of the benefits with Harbour Technologies and that is most appreciated
              by students/schools/institutes.</p>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-6 col-md-6 col-sm-6 xs-mb-40">
            <div class="feature-text left-icon mb-30">
              <div class="feature-icon">
                <span class="ti-layout-column3 theme-color" aria-hidden="true"></span>
              </div>
              <div class="feature-info">
                <h5 class="text-back pt-10">Project options</h5>
              </div>
            </div>
            <p>We are here to provide the projects, based on your need .Just come here with your need/thoughts and
              we convert your thoughts into reality.
            </p>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-6">
            <div class="feature-text left-icon mb-30">
              <div class="feature-icon">
                <span class="ti-eye theme-color" aria-hidden="true"></span>
              </div>
              <div class="feature-info">
                <h5 class="text-back pt-10">Future ready</h5>
              </div>
            </div>
            <p>We are one step ahead and providing high quality teaching  infused with the dynamic use of technology
              to our student</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!--=================================
things differently -->
<!--=================================
work-process -->

<section class="split-section black-bg page-section-ptb">
  <div class="side-background">
    <div class="col-md-6 col-sm-4 img-side img-left">
      <div class="img-holder img-cover" data-jarallax='{"speed": 0.6}' style="background-image: url(../assets/images/team.jpg);">
      </div>
    </div>
  </div>
  <div class="container">
    <div class="col-sm-12 col-md-5 col-md-offset-7">
      <div class="row">
        <div class="section-title">
          <h6 class="text-white">Who we are</h6>
          <h2 class="text-white title-effect">Company Profile</h2>
          <p class="text-white">Harbour Technologies is a company by Engineers and a leading provider of end to end workshop and education solutions, covering various emerging technologies in India. We are trusted service brands in the field of latest technologies of Electronics/Electrical , CS/ IT, Mechanical , Mechatronics and other Engineering branches.  </p>
        </div>
      </div>
    </div>
  </div>
</section>

<!--=================================
work-process -->
<!--=================================
frequently  -->

<section class="theme-bg pos-r page-section-ptb">
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <div class="section-title">
          <h6 class="text-white">Frequently asked questions</h6>
          <h2 class="text-white title-effect dark">Have a Question?</h2>
          <p class="text-white">We are here to help you with your Queries and Questions</p>
        </div>
        <p class="text-white">If you are not able to find your answer, Contact us directly on our 24*7 helpline number <b> +91 70422 86778</b><br> Or </p>
        <a class="button border white mt-20" routerLink="/view/faqs"> Ask us now </a>
      </div>
      <div class="col-sm-6">
        <div class="accordion animated dark-bg">
          <div class="acd-group acd-active">
            <a href="#" class="acd-heading acd-active">01. How our school or college be Zonal centre for Techradiance’19?</a>
            <div class="acd-des text-white">School or college need to send us the consent letter through mail with the institute letter
              head.</div>
          </div>
          <div class="acd-group">
            <a href="#" class="acd-heading">02. How our school or college be Zonal centre for Techradiance’19?</a>
            <div class="acd-des text-white">School or college need to send us the consent letter through mail with the institute letter
              head.</div>
          </div>
          <div class="acd-group">
            <a href="#" class="acd-heading">03. What is the eligibility criteria for students?</a>
            <div class="acd-des text-white">School: Students from class 6 th to 12 th can participate in the event depending upon topic.
              College: Any student from 1 st year to final year can be a part of the event.
              Outside: Any enthusiastic person or teacher can be a part of the Event.</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!--=================================
frequently  -->

<!--=================================
contact  -->

<section class="white-bg contact-3 clearfix o-hidden">
  <div class="container-fluid pos-r">
    <div class="row row-eq-height full-height">
      <div class="col-lg-6 col-md-6 map-side g-map" >
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3503.457322126656!2d77.06914601525587!3d28.58605428243622!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x390d1b17229fd6d3%3A0xb4dda3af442c011e!2sRamphal+Chowk+Rd%2C+Block+D%2C+Palam+Extension%2C+Palam+Colony%2C+New+Delhi%2C+Delhi!5e0!3m2!1sen!2sin!4v1534912800700" width="100%" height="750" frameborder="0" style="border:0" allowfullscreen></iframe>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-lg-5 col-md-5 col-md-offset-7">
        <div class="contact-3-info page-section-ptb">
          <div class="clearfix">
            <div class="section-title mb-0">
              <h6>If you got any questions </h6>
              <h2 class="title-effect">Contact Us</h2>
            </div>
            <p class="mb-50">It would be great to hear from you! If you got any questions, please do not hesitate to send us a message. We are looking forward to hearing from you! We reply within <span class="tooltip-content theme-color" data-original-title="Mon-Fri 10am–7pm (GMT +1)" data-toggle="tooltip" data-placement="top"> 24 hours!</span></p>
            <div id="formmessage">Success/Error Message Goes Here</div>
            <!--<form class="form-horizontal" id="contactform" >-->
              <!--<div class="contact-form clearfix">-->
                <!--<div class="section-field">-->
                  <!--<input id="name" type="text" placeholder="Name*" class="form-control"  name="name">-->
                <!--</div>-->
                <!--<div class="section-field">-->
                  <!--<input type="email" placeholder="Email*" class="form-control" name="email">-->
                <!--</div>-->
                <!--<div class="section-field">-->
                  <!--<input type="text" placeholder="Phone*" class="form-control" name="phone">-->
                <!--</div>-->
                <!--<div class="section-field textarea">-->
                  <!--<textarea class="input-message form-control" placeholder="Comment*"  rows="7" name="message"></textarea>-->
                <!--</div>-->
                <!--&lt;!&ndash; Google reCaptch&ndash;&gt;-->
                <!--<div class="g-recaptcha section-field clearfix" data-sitekey="[Add your site key]"></div>-->
                <!--<input type="hidden" name="action" value="sendEmail"/>-->
                <!--<button id="submit" name="submit" type="submit" value="Send" class="button"><span> Send message </span> <i class="fa fa-paper-plane"></i></button>-->
              <!--</div>-->
            <!--</form>-->
            <div id="ajaxloader" style="display:none"><img class="center-block mt-30 mb-30" src="../assets/images/loader-02.svg" alt=""></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

