<app-page-banner></app-page-banner>
<section class="terms-and-conditions page-section-ptb">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-md-12">
        <div class="section-title ">
          <h6>Simplifying Preparation</h6>
          <h2 class="title">Scope of online exam</h2>
          <p>Choosing a course is very simple but getting into it one should pass entrance exam. On the
            basis of entrance examination suitable candidates are selected and on the basis of score
            and ranking obtained by the candidate in entrance examination, Colleges and institutes
            provide admission into courses. The entrance exam has various scopes since it provide
            chance of forming well-built educational foundation in present competitive market. The
            main purpose of conducting entrance exam is to judge the student ability, sharpness,
            knowledge etc. The aptitude of the student is tested in entrance exam.</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12 col-md-12">
        <h4 class="theme-color mt-30">Kinds of Entrance Examinations We are providing:-</h4>
        <ul class="list list-unstyled theme-color mb-20">
          <li> <i class="fa fa-pencil-square-o"></i> Ssc-Je(Staff Selection Commision Junior Engineer)</li>
          <li> <i class="fa fa-pencil-square-o"></i>(SBI PO (State Bank of India Probationary Officer Exam)</li>
          <li> <i class="fa fa-pencil-square-o"></i> IBPS PO (Institute of Banking Personnel Selection </li>
          <li> <i class="fa fa-pencil-square-o"></i> SBI Clerk (State Bank of India Clerk Exam)</li>
          <li> <i class="fa fa-pencil-square-o"></i> NDA (National Defence Academy & Naval Academy Exam)</li>
          <li> <i class="fa fa-pencil-square-o"></i> CDS (Combined Defence Services Exam)</li>
          <li> <i class="fa fa-pencil-square-o"></i> SSC CGL (Staff Selection Comission Combined Graduate Level..)</li>
          <li> <i class="fa fa-pencil-square-o"></i> SSC CHSL (Staff Selection Comission Combined Higher Secondary Level..)</li>
          <li> <i class="fa fa-pencil-square-o"></i> IBPS CWE RRB (IBPS Common Written Examination – Regional Rural Bank..)</li>
          <li> <i class="fa fa-pencil-square-o"></i> RBI Assistant (Reserve Bank of India Assistant Examination..)</li>
          <li> <i class="fa fa-pencil-square-o"></i> IBPS SO (Institute of Banking Personnel Selection Specialist Officer..)</li>
          <li> <i class="fa fa-pencil-square-o"></i> RBI Grade B Officer</li>
          <li> <i class="fa fa-pencil-square-o"></i> All India Engineering/Pharmacy/Architecture Entrance Examination (AIEEE)</li>
          <li> <i class="fa fa-pencil-square-o"></i> Joint Entrance Examination (JEE)</li>
          <li> <i class="fa fa-pencil-square-o"></i> Graduate Aptitude Test in Engineering (GATE)</li>
          <li> <i class="fa fa-pencil-square-o"></i> Common Admission Test (CAT)</li>
        </ul>
      </div>
    </div>
  </div>
</section>
