<app-page-banner></app-page-banner>
<section class="page-section-ptb coming-soon">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="section-title text-center">
          <h1 class="theme-color">About Techfest</h1>
          <p style="font-size: 15px;text-align: justify;">

            Techfest is IIT Bombay&#39;s annual science and technology festival.It is
            today well established as Asia&#39;s Largest Science and Technology Festival patronized
            by MAKE IN INDIA, UNESCO, UNICEF, SAYEN, ANITA BORG &amp; CEE with a footfall of more
            than 160,000 people comprising mainly of the youth from across the nation and an
            outreach of over 2,500 colleges across India and over 500 overseas.

          </p>
        </div>
      </div>
    </div>
  </div>
</section>
<div class="divider dashed mt-40 mb-40"></div>
<section class="page-section-ptb">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 text-center">
        <div class="section-title">
          <h3 class="mb-20 theme-color">Stages of this program</h3>
          <p>PRELIMINARY ROUNDS <small>
            The first two stages of the event will be organized at the various Zonal Centers located
            in only different cities pan India.</small> and Third round will be the FINALE ROUND</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12 col-md-12 mt-70">
        <div class="stepwizard">
          <div class="stepwizard-row">
            <div class="stepwizard-step">
              <button type="button" class="button btn-circle">1</button>
              <p class="stephead">First Round</p>
            </div>
            <div class="stepwizard-step">
              <button type="button" class="button btn-circle">2</button>
              <p class="stephead">Second Round</p>
            </div>
            <div class="stepwizard-step">
              <button type="button" class="button btn-circle">3</button>
              <p class="stephead">Third Round</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-4 mb-60">
        <div class="feature-text left-icon">
          <div class="text-center">

            <p>Would be comprised of 2 days workshop on various advance modules offered by us in
              which knowledge and rudimentary concepts will be provided to the participating
              students.</p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-4 mb-60">
        <div class="feature-text left-icon">
          <div class="text-center">

            <p>Commences after the completion of the Workshop i.e. a competition would be executed
              among the students who have participated in the workshop.Merit Group selection &amp;
              Certificate Distribution</p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-4 mb-60">
        <div class="feature-text left-icon">
          <div class=" text-center">
            <p class="">Final round Of this event will organize at IIT Bombay during the Techfest where winners of
              each zonal center would be invited to come and participate.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<div class="divider dashed mt-40 mb-40"></div>

<!--<section id="portfolio" class="portfolio page-section-pb wihte-bg">-->
<!--<div class="container">-->
<!--<div class="row">-->
<!--<div class="section-title text-center">-->
<!--<h2>Workshops and Modules</h2>-->
<!--</div>-->
<!--</div>-->
<!--<div class="isotope-filters">-->
<!--<button data-filter="" class="active" (click)='setFilter("All")'>All</button>-->
<!--<button data-filter=".6to12" (click)='setFilter("6to12")'>6th to 12th</button>-->
<!--<button data-filter=".8to12" (click)='setFilter("8to12")'>8th to 12th</button>-->
<!--</div>-->
<!--<div class="isotope popup-gallery columns-4 no-title">-->
<!--<div *ngFor="let workshop of workshops">-->
<!--<div *ngIf="workshop.cat=== filter || filter==='All'" class="col-md-3 col-6 col-xs-12 custom-padding photography {{workshop.cat}}" >-->
<!--<div class="portfolio-item">-->
<!--&lt;!&ndash;<img src="demo-one-page/agency/images/portfolio/01.jpg" alt="">&ndash;&gt;-->
<!--<div class="portfolio-overlay">-->
<!--<h4 class="text-white"> <a href="#">{{workshop.name}}</a> </h4>-->
<!--<span class="text-white"> <a href="#"> Fee  </a>: <a href="#">{{workshop.fee}}</a> </span>-->
<!--</div>-->
<!--<a class="popup portfolio-img" href="{{workshop.img}}"><i class="fa fa-arrows-alt"></i></a>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--</section>-->
<div class="divider dashed mt-40 mb-40"></div>
<section class="process-list white-bg page-section-pt">
  <div class="container">
    <div class="row ">
      <div class="section-title text-center">
        <h2>Process</h2>
      </div>
      <div class="col-sm-12">
        <div class="process left">
          <div class="process-step">
            <strong>01</strong>
          </div>
          <div class="process-content">
            <div class="process-icon">
              <span class="flaticon-line"></span>
            </div>
            <div class="process-info">
              <h5 class="mb-20"> Institute Confirmation</h5>
              <p>Confirm your institute as a Zonal Center on the School/College letter head </p>
            </div>
          </div>
          <div class="border-area left-bottom"></div>
        </div>
        <div class="process right">
          <div class="process-step">
            <strong>02</strong>
          </div>
          <div class="process-content text-right">
            <div class="process-icon">
              <span class="flaticon-technology-1"></span>
            </div>
            <div class="process-info">
              <h5 class="mb-20"> Date Confirmation</h5>
              <p>Date of the workshop is decided by the mutual conversation of institute authorities and Our Coordinators</p>
            </div>
          </div>
          <div class="border-area right-top"></div>
          <div class="border-area right-bottom"></div>
        </div>
        <div class="process left">
          <div class="process-step">
            <strong>03</strong>
          </div>
          <div class="process-content">
            <div class="process-icon">
              <span class="flaticon-computer"></span>
            </div>
            <div class="process-info">
              <h5 class="mb-20"> Minimum Requirement</h5>
              <p>Minimum 60-100 participants are required to conduct this workshop at school/college campus</p>
            </div>
          </div>
          <div class="border-area left-bottom"></div>
          <div class="border-area left-top"></div>
        </div>

        <div class="process right">
          <div class="process-step">
            <strong>04</strong>
          </div>
          <div class="process-content text-right">
            <div class="process-icon">
              <span class="flaticon-stopwatch-tool-to-control-test-time"></span>
            </div>
            <div class="process-info">
              <h5 class="mb-20"> We Provide</h5>
              <p>Kit will be given in a group of five to six students participating in the workshop program</p>
            </div>
          </div>
          <div class="border-area right-top"></div>
          <div class="border-area right-bottom"></div>
        </div>

        <div class="process left">
          <div class="process-step">
            <strong>05</strong>
          </div>
          <div class="process-content">
            <div class="process-icon">
              <span class="flaticon-rocket-launch"></span>
            </div>
            <div class="process-info">
              <h5 class="mb-20"> Certificate Distribution</h5>
              <p>After the successful conduction of the workshop every participating candidate will be provided with certification from Harbour Technologies in association with <strong>Techfest IIT Bombay</strong></p>
            </div>
          </div>
          <div class="border-area left-bottom"></div>
          <div class="border-area left-top"></div>
        </div>
      </div>
    </div>
  </div>
</section>
