<app-page-banner></app-page-banner>
<section class="terms-and-conditions page-section-ptb">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-md-12">
        <div class="section-title ">
          <!--<h2 class="title">Training</h2>-->
          <h2 class="title">Internship</h2>
          <p><small>An internship consists of an exchange of services for experience between
            the intern and the organization. Internships are used to determine if the intern still has an
            interest in that field after the real-life experience. In addition, an internship can be used to
            create a professional network that can assist with letters of recommendation or lead to
            future employment opportunities. The benefit of bringing an intern into full-time
            employment is that they are already familiar with the company, their position, and they
            typically need little to no training. Internships provide current college students the ability
            to participate in a field of their choice to receive hands on learning about a particular future
            career, preparing them for full-time work following graduation
            <br> <br>
            <small>
              <span class="theme-color">Paid internships </span>are common in professional field
              medicine, architecture, science, engineering, law
              (especially accounting and finance), technology, and advertising. This type of internship is
              to expand an intern's knowledge both in their school studies and also at the company. The
              intern is expected to bring ideas and knowledge from school into the company<br><br>
              <span class="theme-color">Unpaid internships </span> are typically through non-profit charities and think tanks which often
              have unpaid or volunteer positions<br><br>
              <span class="theme-color">Partially-paid internships </span> is when students are paid in the form of a stipend. Stipends are
              typically a fixed amount of money that is paid out on a regular basis. Usually, interns that
              are paid with stipends are paid on a set schedule associated with the organization
            </small>
          </small></p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12 col-md-12">
        <div class="section-title ">
          <!--<h2 class="title">Training</h2>-->
          <h2 class="title">Corporate Trainings</h2>
          <p><small>An internship consists of an exchange of services for experience between
            the intern and the organization. Internships are used to determine if the intern still has an
            interest in that field after the real-life experience. In addition, an internship can be used to
            create a professional network that can assist with letters of recommendation or lead to
            future employment opportunities. The benefit of bringing an intern into full-time
            employment is that they are already familiar with the company, their position, and they
            typically need little to no training. Internships provide current college students the ability
            to participate in a field of their choice to receive hands on learning about a particular future
            career, preparing them for full-time work following graduation
          </small></p>
        </div>
        <h4 class="theme-color">Finding a corporate training partner</h4>
          <p>Your corporate training efforts will be successful
            with the right training development partner. Harbour Technologies is one of the most
            recognized corporate training company.</p>
        <p>Our content and delivery philosophy focuses on:</p>
        <ul class="list list-unstyled theme-color mb-20">
          <li> <i class="fa fa-angle-right"></i> Practical learning by doing, not just by listening. </li>
          <li> <i class="fa fa-angle-right"></i> Class exercises and case studies that are customized to the client's industry,
            typically at no additional charge to the client. </li>
          <li> <i class="fa fa-angle-right"></i> Asking participants to work on their organization&'s real issues and develop action
            plans and materials to use on the job the very next day.</li>
        </ul>
        <p class="mb-30">We also offer professional services to support corporate training efforts including
          coaching; personalized group facilitation and planning; and performance consulting to help
          you tackle your organization’s performance issues from start to finish.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12 col-md-12">
        <div class="section-title ">
          <!--<h2 class="title">Training</h2>-->
          <h2 class="title">Online Trainings</h2>
          <p><small>There are several problems with the traditional system of education. First of all, you need
            to pay thousands of dollars per term to attend a prestigious school. With all those budget
            cuts, busy classrooms, and course shortages, you won’t always get the chance to study
            exactly what you want.<br>
            Allow us to explain why online learning is more awesome than you think. We have 5
            advantages of online learning that will make you reconsider your attitude towards this type
            of education.
          </small></p>
        </div>
        <h4 class="theme-color">Advantages Of Online Trainings</h4>
        <ul class="list list-unstyled theme-color mb-20">
          <li> <i class="fa fa-angle-right"></i> 1. You can learn whatever you want!</li>
          <li> <i class="fa fa-angle-right"></i> 2. Comfort</li>
          <li> <i class="fa fa-angle-right"></i> 3. Self-paced learning.</li>
          <li> <i class="fa fa-angle-right"></i> 4. Lower costs.</li>
          <li> <i class="fa fa-angle-right"></i> 5. Online courses look great on a resume.</li>
        </ul>
      </div>
    </div>
  </div>
</section>
